.App {
  text-align: center;
}

html,
body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: "#f5f2f2";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
} */

/* .form input-group {
  width: 5% !important;
} */

/* .form-control {
  width: 5% !important;
} */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.form input {
  width: 30px;
  text-align: center;
}

.tie-break-input {
  width: 50px;
  text-align: center;
}

.match-groups {
  margin: auto;
  padding: 1rem;
}

.match-group {
  border-style: solid;
  margin: 5px;
}

.form label {
  font-size: 1rem;
}

.form small {
  font-size: 0.65rem;
  font-weight: bold;
}

.card {
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.error {
  color: red;
}

.active {
  border-bottom: 3px solid blue;
}

html,
body {
  width: 100%;
  height: 100%;
}

.score-box {
  border: black;
  border-style: solid;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  border-width: 1px;
  display: inline-block;
  width: 30px;
  height: 25px;
}

.correct-score {
  background-color: rgb(3, 184, 3);
  font-weight: bold;
  border-color: rgb(3, 184, 3);
  color: white;
}

.correct-result {
  color: rgb(3, 184, 3);
  font-weight: bold;
  border-color: rgb(3, 184, 3);
}

.incorrect-result {
  color: #f80606;
  font-weight: bold;
  border-color: red;
}

.final-score {
  background-color: rgb(16, 101, 212);
  color: white;
  font-weight: bold;
  border-color: rgb(16, 101, 212);
}

.correct-score-points {
  color: green;
  font-weight: bold;
}

.correct-result-points {
  color: darkorange;
  font-weight: bold;
}

.incorrect-result-points {
  color: red;
  font-weight: bold;
}

.leaderboard thead {
  background-color: white;
}

.leaderboard-user-row {
  background-color: rgb(177, 210, 248);
}

.dual-ring-spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.dual-ring-spinner:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: dual-ring-spinner 1.2s linear infinite;
}
@keyframes dual-ring-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
